<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Lekki Headmaster JAMB 2025 Study Questions & Answers - Mune</title>
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>

<body>
    <div class="card">
        <h1>The Lekki Headmaster JAMB 2025 Study Questions & Answers</h1>
        <p>The ultimate JAMB study guide for your English exam. Get access to 500+ practice questions,
            with 40+ questions per chapter, detailed answers and explanations, structured to match JAMB's style,
            all at an affordable price. Buy now to get the study questions of all 12 chapters sent to your inbox.
        </p>
        <p class="price">₦1,500</p>

        <form action="" id="emailform">
            <input type="email" name="email" required placeholder="Your Email Address" autocomplete="off" id="email">
            <input type="submit" value="Buy Now">
        </form>

        <div class="chapters">
            <div class="cpt">
                <p class="chap">Chapter 1</p>
                <h3>The Economist</h3>
                <p class="qno">100 questions</p>
                <p>FREE</p>
                <a href="/chapter1/">View Questions</a>
            </div>

            <div class="cpt">
                <p class="chap">Chapter 2</p>
                <h3>The Economist</h3>
                <p class="qno">100 questions</p>
                <p>FREE</p>
                <a href="/chapter2/">View Questions</a>
            </div>

            <div class="cpt">
                <p class="chap">Chapter 3</p>
                <h3>The Economist</h3>
                <p class="qno">100 questions</p>
                <p class="paid">PAID</p>

            </div>

            <div class="cpt">
                <p class="chap">Chapter 4</p>
                <h3>The Economist</h3>
                <p class="qno">100 questions</p>
                <p class="paid">PAID</p>

            </div>

            <div class="cpt">
                <p class="chap">Chapter 5</p>
                <h3>The Economist</h3>
                <p class="qno">100 questions</p>
                <p class="paid">PAID</p>

            </div>

            <div class="cpt">
                <p class="chap">Chapter 6</p>
                <h3>The Economist</h3>
                <p class="qno">100 questions</p>
                <p class="paid">PAID</p>

            </div>

            <div class="cpt">
                <p class="chap">Chapter 7</p>
                <h3>The Economist</h3>
                <p class="qno">100 questions</p>
                <p class="paid">PAID</p>

            </div>

            <div class="cpt">
                <p class="chap">Chapter 8</p>
                <h3>The Economist</h3>
                <p class="qno">100 questions</p>
                <p class="paid">PAID</p>

            </div>

            <div class="cpt">
                <p class="chap">Chapter 9</p>
                <h3>The Economist</h3>
                <p class="qno">100 questions</p>
                <p class="paid">PAID</p>

            </div>

            <div class="cpt">
                <p class="chap">Chapter 10</p>
                <h3>The Economist</h3>
                <p class="qno">100 questions</p>
                <p class="paid">PAID</p>
            </div>
        </div>
    </div>

    <script src="{% static 'checkout.js' %}"></script>
</body>

</html>